<div class="primary-container">
  <div class="template-header-container">
    <!-- <div class="primary-container"> -->
    <div class="breadcrumbs">
      <div>
        <i class="fas fa-arrow-left"></i>
      </div>
      <div>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="#">Library</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="right">
      <div (click)="Navigate()">
        <a routerLink="/home/data" routerLinkActive="link-active">link</a>
      </div>
      <div>
        <a routerLink="/home/holder" routerLinkActive="link-active">link</a>
      </div>
      <div><a href="#">link</a></div>
      <div><a href="#">link</a></div>
      <div><a href="#">link</a></div>
      <div><a href="#">link</a></div>
    </div>
  </div>
  <!-- </div> -->
</div>
