<div class="header">
  <div>
    <div class="card-body">
      <h5 class="card-title">About Quality DashBoard</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis
        totam commodi inventore aliquid illum fugiat quo obcaecati distinctio
        quis nobis expedita quaerat.
      </p>
    </div>
  </div>
  <div>
    <div class="card-body">
      <h5 class="card-title">About Total Records</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis
        totam commodi inventore aliquid illum fugiat quo obcaecati distinctio
        quis nobis expedita quaerat.
      </p>
    </div>
  </div>
  <div>
    <div class="card-body">
      <h5 class="card-title">About Missing Records</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis
        totam commodi inventore aliquid illum fugiat quo obcaecati distinctio
        quis nobis expedita quaerat.
      </p>
    </div>
  </div>
</div>
