<!-- header -->
<header>
  <div class="template-header-container header-container">
    <div class="left">
      <div class="logo">
        <h1>Hocelot</h1>
      </div>
    </div>
    <div class="right">
      <div class="form-check form-switch" style="border: none">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
      <div class="menu">
        <h4>Home</h4>
        <h4>My Projects</h4>
      </div>
      <div class="search">
        <input
          class="form-control border-end-0 border rounded-pill"
          type="text"
          placeholder="search"
          id="example-search-input"
        />
        <span class="input-group-append">
          <!-- <button
            class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
            type="button"
          >
            <i class="fa fa-search"></i>
          </button> -->
        </span>
      </div>
      <div class="icon-bell"><i class="far fa-bell"></i></div>
      <div class="icon-user">
        <div>
          <i class="far fa-user-circle"></i>
        </div>
        <div>
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>
  </div>
</header>
