$primary-color: #556ee6;
$primary_font_family: "Poppins", "sans-serif";
$secondary_font_family: "Raleway", sans-serif;
$white_bg: #ffffff;
$center_text: center;
$green-color: #37a112;
$red-color: #ff0000;
$black-color: #000000;

// theme colors

$dark_theme_color: #2e251c;
$light_theme_color: #fff;
