<div [className]="isDarkMode ? 'main darkmode' : 'main lightmode'">
  <div class="card-body">
    <div class="header">
      <div>
        <h5 class="card-title">Total Records</h5>
      </div>
      <div>
        <h5 class="card-title">40,000</h5>
        <h6 class="card-title">Records</h6>
      </div>
    </div>
    <div class="flex-column">
      <div class="circle">
        <div>
          <!-- <i class="fad fa-spinner-third"></i> -->
          <i class="fas fa-circle-notch"></i>
        </div>
      </div>
      <div>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
  </div>
</div>
