h5 {
  margin-bottom: 1.5rem;
}
.check-variables {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.3rem 2rem;
  font-weight: 700;
}
.footer {
  margin-top: 1rem;
}
.progress {
  border-radius: 0.5rem;
  margin: 1rem 0;

  div {
    border-radius: 0.5rem;
  }
}
.card {
  padding: 0 1rem;
}

.progress-bar {
  background-color: rgb(92, 92, 92);
}

.lightmode {
  background-color: #fff;
}
.darkmode {
  background-color: #000;
}
