.collapse-panel {
  background-color: #fff;
  border-radius: 1rem;
  .collapse-heading {
    margin-bottom: 2rem;
    i {
      font-size: 1.5rem;
    }
    h4 {
      font-weight: 700;
    }
  }
  .border {
    border-radius: 1rem;
    padding: 1rem;
    h6 {
      margin-bottom: 1rem;
    }
    .progress {
      margin: 0;
    }
  }
  .panel-body {
    .panel-header {
      display: flex;
      justify-content: space-between;
    }
    .progress {
      border-radius: 0.5rem;
    }
    .para {
      margin-top: 2rem;
    }
    .progress-bar {
      background-color: rgb(68, 68, 68);
    }
  }
  .body-collapsible {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    padding: 0 2rem;
  }
  .body-collapsible.ccollapsible {
    height: 30rem;
  }
}
