<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="width: 100%">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Required Varaibles</h3>
            <span class="pull-right clickable"
              ><i class="glyphicon glyphicon-chevron-down"></i
            ></span>
          </div>
          <div class="panel-body" style="">
            <div class="border">
              <h6>view variables</h6>
              <h5>554</h5>
            </div>
            <div class="border header">
              <div class="columns">
                <h6>Data Quality Overview</h6>
                <div class="progress bar">
                  <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    style="width: 0"
                    aria-valuenow="10"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-heading">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">variables</th>
                  <th scope="col">Data Type</th>
                  <th scope="col">Data Quality</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><i class="fas fa-home-lg"></i>Birth Date</th>
                  <th>
                    <div class="table-data">
                      <i class="fas fa-home-lg"></i>Date
                    </div>
                  </th>
                  <th>
                    <!-- <div class="table-head" style="border: 1px solid red">
                      <div class="columns">
                        <div class="progress">
                          <div
                            class="progress-bar progress-bar-striped"
                            role="progressbar"
                            style="width: 0"
                            aria-valuenow="10"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <div class="columns">
                        <div class="progress">
                          <div
                            class="progress-bar progress-bar-striped"
                            role="progressbar"
                            style="width: 10%"
                            aria-valuenow="10"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                          10%
                        </div>
                      </div>
                      <div class="columns">
                        <div class="progress">
                          <div
                            class="progress-bar progress-bar-striped"
                            role="progressbar"
                            style="width: 30%"
                            aria-valuenow="10"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                          30%
                        </div>
                      </div>
                    </div> -->
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- collapsible 2 -->
<!-- <div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="width: 100%">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Required Varaibles</h3>
            <span class="pull-right clickable"
              ><i class="glyphicon glyphicon-chevron-down"></i
            ></span>
          </div>
          <div class="panel-body">
            <div class="border">
              <span>view variables</span>
              <h5>554</h5>
            </div>
            <div class="border">
              <table class="table-rows">
                <div>
                  <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                  </tr>
                </div>
                <div>
                  <tr class="first">
                    <td><div></div></td>
                    <td><div></div></td>
                    <td><div></div></td>
                  </tr>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
