<div id="collapsible">
  <div
    class="main"
    [className]="isDarkMode ? 'main collapsepanel lightmode' : 'darkmode'"
  >
    <div class="collapse-heading utl-flex">
      <h4 class="panel-title">Required Varaibles</h4>
      <span class="pull-right clickable"
        ><i
          class="glyphicon glyphicon-chevron-down"
          (click)="openCollapsible($event)"
        ></i
      ></span>
    </div>
    <div
      class="panel-body body-collapsible"
      [ngClass]="{ ccollapsible: collapse }"
    >
      <div class="panel-header">
        <div class="border">
          <h6 style="margin: 0">view variables</h6>
          <h5>554</h5>
        </div>

        <div class="border header" style="width: 75%">
          <div class="columns">
            <h6>Data Quality Overview</h6>
            <div class="progress bar">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                style="width: 0"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="columns">
            <h6>Data</h6>
            <div class="progress bar">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="columns">
            <h6>Data Quality</h6>
            <div class="progress bar">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error delectus
        nemo aspernatur optio adipisci impedit nesciunt, ducimus saepe? Maxime
        at laudantium aut voluptatum? Odio corrupti pariatur quidem excepturi
        eveniet obcaecati! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Sed, voluptatibus debitis. Aut, blanditiis dolor? Officiis, at in?
        Neque reiciendis odio ex et natus error tempore, perferendis saepe,
        debitis, corporis in!
      </div>
    </div>
  </div>
</div>
