.main-body {
  background-color: rgb(243, 243, 243);
}
.template-header-container {
  padding: 1rem;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    font-size: 0.8rem;
    color: rgb(156, 156, 156);
    margin-right: 1rem;
  }
  a {
    color: rgb(156, 156, 156);
    font-size: 0.8rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  ol {
    margin: 0;
  }
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right div {
  margin-right: 1rem;
  width: 120px;
  border-radius: 1rem;
  font-size: 12px;
  border: 1px solid rgb(221, 221, 221);
  text-align: center;
  background-color: rgb(200, 200, 200);
}
.right div a {
  color: #fff;
  font-size: 1.5rem;
}
