@import "../../../assets/css/variable.scss";
.mainbody {
  background-color: rgb(243, 243, 243);
}
.template-header-container {
  padding: 1rem;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    font-size: 0.8rem;
    color: rgb(156, 156, 156);
    margin-right: 1rem;
  }
  a {
    color: rgb(156, 156, 156);
    font-size: 0.8rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  ol {
    margin: 0;
  }
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 4rem;
  border-radius: 2rem;
  margin-right: 1rem;
  font-size: 12px;
  text-align: center;
  background-color: rgb(200, 200, 200);
}
.right div a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.div-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
}

.lighttheme {
  background-color: $light_theme_color;
  ol {
    background: none;
  }
  .right {
    a {
      color: #fff;
      font-weight: 700;
    }
  }
  .right .activelink {
    background-color: rgb(3, 124, 236);
  }
}

.darktheme {
  background-color: $dark_theme_color;
  color: #fff;
  i {
    color: #fff;
  }
  ol {
    background: none;
    li a {
      color: #fff;
    }
  }
  .right {
    a {
      background-color: #fff;
      color: #000;
      font-weight: 700;
    }
  }
  .right .activelink {
    background-color: rgb(3, 124, 236);
  }
}
